<% combined_activity = (llm_calls.to_a + mcp_calls.to_a).sort_by(&:created_at).reverse %>
<% if combined_activity.any? %>
  <% combined_activity.each do |activity| %>
    <%= render partial: 'activity_item', locals: { activity: activity } %>
  <% end %>
<% else %>
  <div class="px-4 py-8 text-center text-gray-500">
    <svg class="mx-auto h-8 w-8 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p class="mt-2 text-sm">No matching activity found</p>
  </div>
<% end %>
